@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6f7ff;
    font-family: "Jua", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-form {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.forgot-password-form h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.forgot-password-form p {
    margin-bottom: 20px;
    color: #777;
}

.forgot-password-form form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: "Jua", sans-serif;
}

button[type="submit"] {
    background-color: #53C9FF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-family: "Jua", sans-serif;
}

button[type="submit"]:hover {
    background-color: #53C9FF;
}
