<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정신적 건강 지속 관리 대화</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div id="app">
        <header id="header">
            <img src="static/images/logo.png" alt="Logo" id="logo">
            <img src="static/images/exit.png" alt="Exit" id="exit">
        </header>        
        <main id="chat-area"></main>
        <div id="user-input">
            <textarea id="message-i	nput" placeholder = rows="1"></textarea>
            <button id="send-btn">submit</button>
        </div>
    </div>
    <script type="module" src="/start/static/js/scripts.js"></script>
</body>
</html>
